form {
  font-size: 20px;
  margin-top: 20px;
}
.input-container {
  margin-bottom: 25px;
}
input {
  min-width: 250px;
  border-radius: 10px;
  min-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
input:focus {
  outline: 0;
}
input.age {
  min-width: initial;
  width: 60px;
}
.submit-btn {
  background-color: #e2e8f0;
  border: 0;
  width: 100px;
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
}
.error-message {
  font-size: 16px;
  color: rgb(155, 3, 3);
}
